<!DOCTYPE html>
<html>
<head>
    <title>Pliki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container my-4">
        <h1 class="mb-4">Lista plików</h1>
        <table class="table table-striped table-bordered" cellpadding="5">
            <thead class="table-dark">
                <tr>
                    <th>Nazwa pliku</th>
                    <th>Czas przesłania</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('download', filename=file.name) }}" class="btn btn-sm btn-success">Pobierz</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('hello') }}" class="btn btn-secondary btn-lg px-4 gap-3">Back</a>
    </div>
</body>
</html>