<!doctype html>

<head>
    <title>Rejestracja - GutCloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>

<body>
    <main class="form-signin w-100 m-auto">
        <div class="px-4 py-3 my-2 text-center">
            <img class="mb-4" src="{{ url_for('static', filename='images/black_cloud_logo.svg') }}" alt="Logo"
                width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Zarejestruj się</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('register') }}" class="w-50 mx-auto">
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="floatingInput"
                        placeholder="Nazwa użytkownika" required>
                    <label for="floatingInput">Nazwa użytkownika</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                        placeholder="Hasło" required>
                    <label for="floatingPassword">Hasło</label>
                </div>

                <div class="form-check mb-3 text-start">
                    <input class="form-check-input" type="checkbox" value="1" id="isAdmin" name="is_admin"
                        onclick="toggleAdminCode()">
                    <label class="form-check-label" for="isAdmin">
                        Konto Administratora
                    </label>
                </div>

                <div class="form-floating mb-3" id="adminCodeGroup" style="display:none;">
                    <input type="password" name="admin_code" class="form-control" id="adminCode"
                        placeholder="Kod Administratora">
                    <label for="adminCode">Kod Administratora (wymagany)</label>
                </div>

                <button class="w-100 btn btn-lg btn-success" type="submit">Utwórz konto</button>
                <div class="mt-3">
                    <a href="{{ url_for('login') }}">Masz już konto? Zaloguj się</a>
                </div>
            </form>
        </div>
    </main>
    <script>
        function toggleAdminCode() {
            var checkbox = document.getElementById('isAdmin');
            var codeGroup = document.getElementById('adminCodeGroup');
            if (checkbox.checked) {
                codeGroup.style.display = 'block';
            } else {
                codeGroup.style.display = 'none';
            }
        }
    </script>
</body>

</html>